<p-button [routerLink]="['/create']" [queryParams]="{id: 'new'}" label="Register new pet" icon="pi pi-plus"></p-button>
<p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr (click)="openDialog(product.id)">
            <td>{{product.name}}</td>
            <td>{{product.status}}</td>
        </tr>
    </ng-template>
</p-table>
