<div class="card">
  <h1>Register a new pet</h1>
  <p-fileUpload
    name="demo[]"
    [customUpload]="true"
    (uploadHandler)="onUploadImage($event)"
  >
  </p-fileUpload>
</div>

<div class="grid p-fluid form">
  <form [formGroup]="petForm">
    <div class="col-12 md:col-4 pet">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">||</span>
        <input
          type="text"
          pInputText
          placeholder="Name"
          formControlName="name"
        />
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">||</span>
        <input
          type="text"
          pInputText
          placeholder="Status"
          formControlName="status"
        />
      </div>
    </div>
  </form>
</div>

<button
  class="button"
  pButton
  type="button"
  label="Register pet"
  (click)="onCreatePet()"
></button>
