.example-form-field {
  width: 200px;
}

.form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.button {
  width: 200px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
}

.pet {
    margin-bottom: 2rem;
}
