<h1 mat-dialog-title>Pet details</h1>
<div mat-dialog-content>Name: {{ petData?.name }}</div>
<div mat-dialog-content>Category: {{ petData?.category?.name }}</div>
<div *ngFor="let item of petData?.photoUrls">
  <p-image [src]="item" alt="Image" width="250" [preview]="true"></p-image>
</div>
